body{
  margin:0px;
 }
.topnav {
   overflow: hidden;
   background-color: #D3DFB8;
 }
.topnav a {
   float: left;
   display: block;
   font-family: "Jockey One";
   color: #A38560;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 32px;
 }
.topnav a:hover {
   color: white;
 }
.topnav a.active {
   color: black;
 }
.topnav .icon {
   display: none;
 }
 .navbar2{
   background-color: #D3DFB8;
   position:relative;
 }
 .navbar1{
    background-color: #D3DFB8;
    flex:50%;
 }
 .row{
     display:flex;
 }
 .flex{
     display:flex;
 }
 .column1{
     float: left;
 }
 .column2{
     float: right;
 }
 ul{
  margin-left: 30px;
  color:#574D68;
  font-family: 'Istok Web';
  font-size: 20px;
 }
 .spacing{
  height:80px;
 }
 h2{
  font-family: "Jockey One", sans-serif;
  font-size: 32px;
  color: #A38560;
  margin-left: 40px;
  margin-top:60px;
}
 h3{
  font-size: 32px;
 }
 .bigbox{
  height:706px;
  width:816px;
  background-color:#A38560;
  margin:auto;
  padding-left:206px;
  padding-top:20px;
 }
 .whitebox1{
  height:62px;
  width:596px;
  background-color:white;
  border-radius: 10px;
 }
 .whitebox2{
  height:329px;
  width:596px;
  background-color:white;
  border-radius: 10px;
 }
button a:link{
  color:#574D68;
  text-decoration:none;
}
button a:visited{
  color:#574D68;
}
button a:hover{
  color:white;
}
.image{
  height:427px;
  width:640px;
 }
 .card{
  height:375px;
  width:755px;
  background-color:#574D68;
  border:white, 1px, solid;
  margin-top:50px;
 }
 h4{
  font-family:"Jockey One", sans-serif;
  font-size: 36px;
  color: #C6A15B;
  margin-right:180px;
  margin-top:30px;
 }
 h5{
  font-family:'Istok Web';
  color:white;
  font-size: 28px;
  margin-top:-30px;
 }
 h6{
  font-family:'Istok Web';
  color:white;
  font-size: 20px;
  margin-top:-40px;
 }
 .spacing3{
  width:60px;
}
footer{
  background-color:#D3DFB8;
  height:100px;
  text-align:center;
  padding-top:5px;
  font-family:'Istok Web';
  margin-top:60px;
}
footer p{
  margin-top:5px;
  font-size:16px;
}
.fa {
padding: 10px;
font-size: 16px;
width: 30px;
text-align: center;
text-decoration: none;
margin-top:-15px;
}
.fa:hover {
opacity: 0.7;
}
.fa-facebook {
background: #3B5998;
color: white;
}
.fa-twitter {
background: #55ACEE;
color: white;
}
.purplebox{
  height: 953px;
  width:590px;
  background-color:#574D68;
  margin-left:230px
 }
 .menu-group-heading{
  display:flex;
  justify-content:space-between;
  font-size: 20px;
  color:white;
  font-family:'Istok Web';
  margin-left:40px;
 }
 .column3{
  float:right;
 }
@media screen and (max-width:1500px) {
  .card{
     height:690px;
     width:320px;
     margin-top:0px
   }
   h4{
     margin-right:35px;
     margin-left:55px
   }
   h5{
     text-align:center;
   }
   h6{
     text-align:center;
   }
  }
  @media screen and (max-width:1300px){
    .purplebox{
      margin-left:0px
    }
   }
  @media screen and (max-width: 1050px) {
    .purplebox{
      height: 1550px;
      width: 300px;
      margin:0 auto;
    }
    .menu-group-heading{
      margin-left:20px;
      margin-right:20px
    }
    .column3{
      align-self:center;
    }
  }
 @media screen and (max-width: 1000px) {
  .bigbox{
    height:710px;
    width:500px;
    padding-left:30px;
  }
  .whitebox1{
    width:467px;
  }
  .whitebox2{
    width:467px;
  }
}
@media screen and (max-width: 890px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
float: right;
display: block;
}
.flex{
flex-direction:column;
}
.row{
flex-direction:column;
}
.topnav .navbar2 > div{
display:none;
padding-top:10px;
}
.topnav.responsive .navbar2 > div{
display:block;
}
.topnav.responsive {
position: relative;
}
.topnav.responsive .icon {
position: absolute;
right: 0;
top: 0;
}
.topnav.responsive .navbar2 a {
float: none;
display: block;
}
}
@media screen and (max-width: 550px) {
  .bigbox{
    height:710px;
    width:300px;
    padding-left:25px;
  }
  .whitebox1{
    width:273px;
  }
  .whitebox2{
    width:273px;
  }
}